/*Loader*/
.loader{        
    position: absolute;
    border: 1.6rem solid #f3f3f3;   /*Light grey*/
    border-top: 1.6rem solid #3498db;   /*Blue*/
    border-radius: 50%;
    width: 14rem;           
    height: 14rem;
    left: 44.5%;
    top: 55%;
    margin-top: 8.5rem;         
    
    transform: translateX(-50%,50%);    
    z-index: 1;    
    animation: Spin 1s linear infinite;

    @include respond(tab-land){     //1024
        width: 8rem;           
        height: 8rem;          
        left: 46%;
        
        border: 1.4rem solid #f3f3f3;
        border-top: 1.4rem solid #3498db;
    }
    @include respond(tab-port){
        width: 7rem;           
        height: 7rem;
        left: 47%;
        
        border: 1.2rem solid #f3f3f3;
        border-top: 1.2rem solid #3498db;
    }
    @include respond(phone){
        width: 3.5rem;           
        height: 3.5rem;
        left: 46.5%;
        
        border: 1rem solid #f3f3f3;
        border-top: 1rem solid #3498db;
    }
}               
@keyframes Spin {       
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg);}   
}